{% include "professor_head.html" %}

<div class="row mt-150">

  <div class="card2 p-50 w-30 m-auto p-20 ">
    <form action="change_professor_password_action" method="post">
      <div class="card-title">Change Password </div>
        <div class="mt-20">
            <label for="old_password">Old Password:</label>
            <input type="password" name="old_password" id="old_password" class="form-input" placeholder="Enter your old password " required>
        </div>
      <div class="mt-20">
          <label for="new_password">New Password:</label>
          <input type="password" name="new_password" id="new_password" class="form-input" placeholder="Enter your new password" required>
      </div>
        <div class="mt-20">
          <label  for="confirm_password">Confirm Password:</label>
          <input type="password" name="confirm_password" id="confirm_password" class="form-input" placeholder="Enter confirm password" required>
      </div>
      <div class="mt-40">
          <input type="submit" class="btn-grad w-100 mt-20" value="Submit">
      </div>
    </form>
  </div>
</div>
