{% include "main_head.html" %}
<div class="mt-180">
    <div class="card2 w-30 p-20 m-auto">
        <form action="mail_verification_action" method="post">
            <div class="mt-10">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your valid email here.." class="form-input" required>
            </div>
            <div class="mt-30">
                <input type="submit" value="Get Otp" class="btn-grad m-auto">
            </div>
        </form>
    </div>
</div>