{% include "links.html" %}

<nav class="nav">
    <div class="nav-item">
        <div class="nav-menu">
            <div class="">
                <div class="row">
                    <div class="">
                        <img src="../static/files/logo.png" class="logo-img">
                    </div>
                </div>
            </div>
            <div class="mt-20 row nav-menu">
                <div><a href="/student_home" class="nav-menu-item">Home</a></div>
                <div><a href="/course" class="nav-menu-item">View Courses</a></div>
                <div><a href="/section" class="nav-menu-item">View Sections</a></div>
                 <div><a href="/view_enrollments" class="nav-menu-item">View Enrollments</a></div>
<!--                 <div><a href="/student_assignments" class="nav-menu-item">Assignments</a></div>-->

                <div><a href="/logout" class="nav-menu-item">Logout</a></div>
            </div>
        </div>
    </div>
</nav>