{% if session['role']=="professor" %}
       {% include "professor_head.html" %}
{% endif %}
{% if session['role']=="student" %}
       {% include "student_head.html" %}
{% endif %}


<div class="mt-100">
    <div class="card-title">View Enrollments</div>
</div>
<div class="row mt-20">
    {% for enrollment in enrollments %}
        {% set section = get_section_by_section_id(enrollment[4]) %}
        {% set course = get_course_by_course_id2(section[10]) %}
        {% set professor = get_section_by_professor_id(section[11]) %}
        {% set student = get_student_id_by_enrollment(enrollment[5]) %}

    <div class="card2  p-20 ml-30 box-shadow">
         <div class="">
            <div class="w-100">
               <a href="/section"><img src="../static/files/course_files/{{course[4]}}" class="w-100" style="max-width:100%; height:200px; border-radius:14px;"> </a>
            </div>
         </div>
        <div class="">
            <div class="flex">
                <div class="card-label">Enrollment Id:</div>
                 <div class="ml-10">{{enrollment[0]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Crn:</div>
                 <div class="ml-10">{{section[2]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Course Name:</div>
                 <div class="ml-10">{{course[2]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Professor Name:</div>
                 <div class="ml-10">{{professor[1]}}</div>
            </div>
            <hr>
            <div class="flex">
                <div class="card-label">Enrollment Start Date:</div>
                 <div class="ml-10">{{section[5].strftime("%Y-%m-%d")}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Enrollment End Date:</div>
                 <div class="ml-10">{{section[6].strftime("%Y-%m-%d")}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Day:</div>
                 <div class="ml-10">{{section[8]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Class Start & End Time:</div>
                 <div class="ml-10">{{section[3]}} || {{section[4]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Number Of Credits:</div>
                 <div class="ml-10">{{course[5]}}</div>
            </div>
            <hr>
            <div class="flex">
                <div class="card-label">SSN:</div>
                 <div class="ml-10">{{student[10]}}</div>
            </div>
             <div class="flex">
                <div class="card-label">Student Name:</div>
                 <div class="ml-10">{{student[1]}} {{student[2]}}</div>
            </div>
             <div class="flex">
                <div class="card-label">Email:</div>
                 <div class="ml-10">{{student[3]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Status:</div>
                 <div class="ml-10 bold-txt">{{enrollment[3]}}</div>
            </div>
            {% if enrollment[3] == 'Assigned Grade' %}
            <div class="flex ml-45">
                <div class="card-label grade">Grade:</div>
                 <div class="ml-10 grade">{{enrollment[1]}}</div>
            </div>
            {% endif %}
            <div class="mt-10">
                <div class="flex space-around">
                    <div class=" mt-10 bgra">
                        <a href="/view_course_material?section_id={{section[0]}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="purple" class="bi bi-book" viewBox="0 0 16 16">
                              <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                            </svg><span class="">View Course Materials</span>
                        </a>
                    </div>
                    {% if session['role']=="student" %}
                    <div class="mt-10 ">
                       <a href="/student_assignments?section_id={{section[0]}}&enrollment_id={{enrollment[0]}}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="purple" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                       </a>
                    </div>
                    <span class="mt-15">Assignments</span>
                    {% endif %}
                </div>
             </div>
        </div>
    </div>
    {% endfor %}
</div>
