/* Width */

.w-10{
    width:10%;
}
.w-15{
     width:15%;
}
.w-20{
    width:20%;
}
.w-22{
    width:22%;
}
.w-30{
    width:30%;
}
.w-40{
    width:40%;
}
.w-48{
    width:48%;
}
.w-50{
    width:50%;
}
.w-60{
    width:60%;
}
.w-70{
    width:70%;
}
.w-80{
    width:80%;
}
.w-90{
    width:90%;
}
.w-93{
    width:93%;
}
.w-100{
    width:100%;
 }

 /* Paddings */

.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-25{
    padding: 25px;
}
.p-30{
    padding: 30px;
}
.p-35{
    padding: 35px;
}
.p-40{
    padding: 40px;
}
.p-45{
    padding: 45px;
}
.p-50{
    padding: 50px;
}

/* Margins */

.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-50{
    margin: 50px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-100{
    margin-top: 100px;
}
.mt-120{
    margin-top: 120px;
}
.mt-130{
    margin-top: 130px;
}
.mt-135{
    margin-top: 135px;
}
.mt-150{
    margin-top: 150px;
}
.mt-180{
    margin-top: 200px;
}
.mt-210{
    margin-top: 210px;
}
.mt-300{
    margin-top: 300px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.ml-25{
    margin-left: 25px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.ml-45{
    margin-left: 45px;
}
.ml-50{
    margin-left: 50px;
}
.ml-60{
    margin-left: 60px;
}
.ml-30p{
    margin-left:30%;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.mr-25{
    margin-right: 25px;
}
.mr-30{
    margin-right: 30px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}

.ml-10 {
    margin-left: 10px;
}
.ml-10p {
    margin-left: 10%;
}
.ml-20p {
    margin-left: 20%;
}
.ml-50 {
    margin-left: 50%;
}


.m-auto{
       margin:auto;
}


.fs-10{
    font-size:10px;
    font-weight:bold;
}